<h3> Client Feedback </h3>
<p>
  <strong>First Name:</strong>
  <%= @feedback.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @feedback.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @feedback.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @feedback.contact %>
</p>

<p>
  <strong>Message:</strong>
  <%= @feedback.feedback %>
</p>
